<launch>
  <rosparam command="load" file="$(find motoman_sda20d_support)/config/sda20d_motion_interface.yaml" />
  <rosparam command="load" file="$(find motoman_sda20d_support)/config/joint_names_sda20d.yaml" />

  <include file="$(find motoman_sda20d_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="sim"   value="true" />
	</include>
</launch>
