<launch>
  <include file="$(find motoman_sda20d_with_grippers_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="robot_ip"   value="192.168.255.10" />
    <arg name="sim"   value="false" />
	</include>

  <arg name="scene_file" default="$(find motoman_sda20d_with_grippers_moveit_config)/scenes/first_scene.scene"/> 
  <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>

  <node name="left_robotiq_gripper_3_finger_adaptive_state" pkg="robotiq_gripper_3_finger_adaptive_control" type="left_robotiq_gripper_3_finger_adaptive_state" />
  <node name="right_robotiq_gripper_3_finger_adaptive_state" pkg="robotiq_gripper_3_finger_adaptive_control" type="right_robotiq_gripper_3_finger_adaptive_state" />

  <node name="init_grippers" pkg="robotiq_gripper_3_finger_adaptive_control" type="init_grippers" />
</launch>
